shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*@nestjs/*
public-hoist-pattern[]=*@types/*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*eslint*